/* Reset */
body, h1, h2, h3, p, ul, li, a, form, input, textarea, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos comunes */
body {
  font-family: 'Press Start 2P', Arial, sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

section {
  padding: 40px 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
